* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #dedede;
    position: relative;
}

.logo {
    max-width: 8rem; /* Aumenta el tamaño máximo del logo */
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #007BFF; /* Color al pasar el ratón */
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #fff;
        align-self: flex-end;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-list li a {
        color: #ececec;
        font-size: 1.25rem; /* Tamaño de fuente más grande */
    }
}

.logo {
    max-width: 10%; /* Ajusta el ancho máximo para que la imagen del logo se ajuste según el contenedor */
    height: 100%; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.principal {
    flex: 1;
    display: flex;
}

.principal img {
    width: 100%;
    height: auto;
    object-fit: cover;
}